#cart_count{
	text-align: center;
	padding: 0 0.9rem 0.1rem 0.9rem;
	border-radius: 3rem;
}

.shopping-cart{
	padding: 3% 0%;
}

.cart-items + .cart-items{
	padding: 2% 0%;
}

.price-details h6{
	padding: 3% 2%;
}

.checkout{
	width: 100%;
	padding: 1.5em 0;
}

.c1.c1,.c2.c2{
	display: grid;
	min-height: 3em;
	flex-direction: column;
	align-content: center;
}

.qty{
	margin-top: 0.5em;
	max-width: 50%;
}

.img-thumbnail,.card-img-top{
	width: 100%;
	object-fit: contain;	
}
